html { 
  background: url(http://palazzodisco.com/images/tepic/default.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  height:10000px; 
  width:10000px;
  margin-left: 5000px;
}
p{
color: orange;
text-decoration: overline;
}
.footer{
  font-family: Arial;
  background-color: black;
text-align: center;

bottom:0px;

clear: both;
position:absolute;
z-index: 10;
height: 2cm;
width: 100%;
margin-top: 2em;
}
.tabla{
  display: table;
  position: relative;
  width: 10%;
  height: 10px;
  margin-left:12vw;
  border: solid black;
}
.fila{

float:left;
}
.me{
  height: 15vw;
  width: 15vw;
  border-radius: 60vw 60vw 60vw 60vw;
   left: 43%;top:15%;
  margin-right: 50%;

  position: fixed;
  
  background: url('https://k60.kn3.net/taringa/6/A/4/8/B/4/vagonettas/03A.gif') center no-repeat;

}

.c1,.c2,.c3,.c4{z-index: -1;
float: left;
display: table-row;
position:relative;

position: relative;}
.c5,.c6,.c7,.c8{z-index: +11;
float:left;
display: table-row;
position: relative;
left: 1600px;}
.c9,.c10,.c11,.c12{z-index: +11;
float:left;
display: table-row;

position: absolute;
top: 600px;}
.c1{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  margin:auto;
top: 100px;
  
  background: url('http://rulotico.github.io/GifsParty/img/rulotico.gif') center no-repeat;

}

.c2{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  top: 400px; left: 350px;
  background: url('http://rulotico.github.io/GifsParty/img/giphy.gif ') center no-repeat;

}

.c3{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  
  background: url('http://rulotico.github.io/GifsParty/img/karen.gif ') center no-repeat;

}
.c4{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  top: 100px; left: 350px;
  position:relative;


  
  background: url('http://rulotico.github.io/GifsParty/img/sherley.gif ') center no-repeat;

}
.c5{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: -10;

  
  background: url('http://rulotico.github.io/GifsParty/img/thrillerzombie.gif ') center no-repeat;

}
.c6{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: +1;

  
  background: url('http://rulotico.github.io/GifsParty/img/pako.gif ') center no-repeat;

}
.c7{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: -1;

  
  background: url('http://rulotico.github.io/GifsParty/img/Simba.gif ') center no-repeat;

}
.c8{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: +1;

  
  background: url('http://rulotico.github.io/GifsParty/img/Peter.gif ') center no-repeat;

}
.c9{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;


  
  background: url('http://rulotico.github.io/GifsParty/img/jj.gif ') center no-repeat;

}
.c10{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: +1;

  
  background: url('http://rulotico.github.io/GifsParty/img/coche-y-automovil-deportivo-imagen-animada-0044.gif ') center no-repeat;

}
.c11{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  position:relative;
  z-index: +10;

  
  background: url('http://rulotico.github.io/GifsParty/img/arturo.gif ') center no-repeat;

}
.c12{
  height: 15vw;
  width: 15vw;
  background-color; black;
  right: 500px;
  border-radius: 60vw 60vw 60vw 60vw;
  z-index: +1;
  padding-left: 20px;
  background: url('http://rulotico.github.io/GifsParty/img/leovi.gif ') center no-repeat;

}
.c13{

  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  z-index: +10;
 margin-left: 25%;
  margin-right: auto;
  background: url('http://rulotico.github.io/GifsParty/img/Peter.gif ') center no-repeat;

}

.Flogo{

margin-right:10%;
position:fixed;
z-index: 10;
  top: 50px; 
  right: 50px;
}




