body{
  background-color: orange;
}
.footer{
  font-family: Arial;
  background-color: black;
text-align: center;

bottom:0px;

clear: both;
position:relative;
z-index: 10;
height: 2cm;
margin-top: -3em;
}

.me{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  margin:auto;
  
  background: url('http://rulotico.github.io/GifsParty/img/bobe.gif ') center no-repeat;

}
.c2{
  height: 15vw;
  width: 15vw;
  background-color; black;
  border-radius: 60vw 60vw 60vw 60vw;
  margin:auto;
  
  background: url('http://rulotico.github.io/GifsParty/img/giphy.gif ') center no-repeat;

}
